@model List<Project1Portfolio.Models.Testimonial>
@{
    ViewBag.Title = "TestimonialList";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Referanslar Sayfası</h2>

<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Ad</th>
            <th>Başlık</th>
            <th>Yorum</th>
            <th>Fotoğraf</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TestimonialID</td>
                <td>@item.Name</td>
                <td>@item.Title</td>
                <td>@item.Comment.Substring(0,10)</td>
                <td>@item.ImageUrl.Substring(0,10)</td>

                <td><a href="/Testimonial/DeleteTestimonial/@item.TestimonialID" class="btn btn-danger">Sil</a></td>
                <td><a href="/Testimonial/UpdateTestimonial/@item.TestimonialID" class="btn btn-warning">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/Testimonial/CreateTestimonial" class="btn btn-info">Referans Ekle</a>

</div>