@model List<Project1Portfolio.Models.Profile>
@{
    ViewBag.Title = "ProfileIndex";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Profil Sayfası</h2>

<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Başlık</th>
            <th>Açıklama</th>
            <th>Adres</th>
            <th>Email</th>
            <th>Telefon</th>
            <th>Github</th>
            <th>Fotoğraf</th>
            <th>Lokasyon</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProfileID</td>
                <td>@item.Title</td>
                <td>@item.Description.Substring(0,10)</td>
                <td>@item.Address.Substring(0,5)</td>
                <td>@item.Email.Substring(0,10)</td>
                <td>@item.PhoneNumber</td>
                <td>@item.Github.Substring(0, 10)</td>
                <td>@item.ImageUrl.Substring(0, 20)</td>
                <td>@item.MapLocation.Substring(0, 20)</td>

                <td><a href="/Profile/DeleteProfile/@item.ProfileID" class="btn btn-danger">Sil</a></td>
                <td><a href="/Profile/UpdateProfile/@item.ProfileID" class="btn btn-warning">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/Profile/CreateProfile/" class="btn btn-info">Profil Ekle</a>

</div>

