@model List<Project1Portfolio.Models.Work>
@{
    ViewBag.Title = "WorkList";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Çalışmalarım Sayfası</h2>

<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Başlık</th>
            <th>Açıklama</th>
            <th>Fotoğraf</th>
            <th>Github</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.WorkID</td>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.ImageUrl.Substring(0,15)</td>
                <td>@item.GithubUrl.Substring(0,15)</td>

                <td><a href="/Work/DeleteWork/@item.WorkID" class="btn btn-danger">Sil</a></td>
                <td><a href="/Work/UpdateWork/@item.WorkID" class="btn btn-warning">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/Work/CreateWork" class="btn btn-info">Çalışma Ekle</a>

</div>
