@model List<Project1Portfolio.Models.Education>
@{
    ViewBag.Title = "EducationList";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Mesaj Kategorileri Sayfası</h2>

<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>Eğitim ID</th>
            <th>Eğitim Adı</th>
            <th>Tarih</th>
            <th>Alt Başlık</th>
            <th>Açıklama</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.EducationID</td>
                <td>@item.Title</td>
                <td>@item.EducationDate</td>
                <td>@item.Subtitle</td>
                <td>@item.Description</td>

                <td><a href="/Education/DeleteEducation/@item.EducationID" class="btn btn-danger">Sil</a></td>
                <td><a href="/Education/UpdateEducation/@item.EducationID" class="btn btn-warning">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/Education/CreateEducation/" class="btn btn-info">Eğitim Ekle</a>

</div>

