@model Project1Portfolio.Models.SocialMedia
@{
    ViewBag.Title = "UpdateSocialMedia";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Sosyal Medya Güncelleme Sayfası</h2>


<form method="post">

    @Html.HiddenFor(x => x.SocialMediaID, new { @class = "form-control" })

    <label>Sosyal Medya Adı</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Icon</label>
    @Html.TextBoxFor(x => x.Icon, new { @class = "form-control" })
    <br />
    <label>URL</label>
    @Html.TextBoxFor(x => x.SocialMediaUrl, new { @class = "form-control" })
    <br />
    <label>Durum</label>
    @Html.TextBoxFor(x => x.Status, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Güncelle</button>
</form>


